#menu_container {
	background-color: var(--colorSec);
}

#layout_wrapper {
	border-color: var(--colorQua);
	background-color: #FFFFFF;
}

.color-1 {
	color: var(--colorPri);
}

body, .bg-color-1 {
	background-color: var(--colorPri);
}

header, footer, .bg-color-2 {
	background-color: var(--colorSec);
}

.color-2 {
	color: var(--colorSec);
}

.bg-color-3 {
	background-color: var(--colorTer);
}

.color-3 {
	color: var(--colorTer);
}

.bg-color-4 {
	background-color: var(--colorQua);
}

.color-4 {
	color: var(--colorQua);
}

.manager-table th, .admin-table th {
	background-color: var(--colorSec);
	color: #FFFFFF;
}

h1 {
	background-color: var(--colorTer);
	color: #FFFFFF;
}

h2 {
	background-color: var(--colorTer);
	color: #FFFFFF;
}

h3 {
	color: var(--colorSec);
}

#panel_links a:hover {
	background-color: var(--colorQua);
}

#vertical_container {
	background-color: var(--colorTer);
}

.control-panel-link {
	color: #000000;
}

.ce-button {
	background: var(--colorTer) none;
	color: #FFFFFF;
}

.ce-button:hover {
	background: var(--colorSec) none;
	color: #FFFFFF;
}

ul.site-menu ul.sub-menu li {
	background-color: var(--colorSec);
}

ul.site-menu li {
	background-color: var(--colorSec);
}

li.selected-menu-item {
	background-color: var(--colorSec);
}

ul.site-menu li:hover {
	background-color: var(--colorTer);
}

ul.site-menu ul.sub-menu li:hover {
	background-color: var(--colorTer);
}

li.menu-separator {
	background-color: var(--colorSec);
}

ul.site-menu ul.sub-menu li.menu-separator {
	background-color: var(--colorPri);
}

header {
	color: #FFFFFF;
}

.footer-container, .footer-container a, .footer-container span {
	color: #FFFFFF;
}

:root {
	--colorPri: #e6e6e6;
	--colorSec: #2e56a3;
	--colorTer: #2171b9;
	--colorQua: #aecde7;
	--highlightPri: #142570;
	--highlightSec: #2e56a3;
}