@import url('//fonts.googleapis.com/css?family=Roboto+Condensed:400,700');
@import url('//fonts.googleapis.com/css?family=Open+Sans:400,700');
.placeholder-type {
	text-align: center;
	font-size: 14px;
	color: Blue;
	font-weight: bold;
}
.placeholder-title {
	text-align: center;
	font-size: 12px;
	color: Red;
	margin-bottom: 30px;
}
.widget-loading {
	text-align: center;
	margin-top: 20px;
}

/** Polls **/
.poll {
	text-align: left !important;
}
.poll .title {
	font-size: 16px;
	color: #333333;
	border-bottom: 1px solid #666666;
	background-color: #FFFF99;
	padding: 2px 5px 2px 5px;
}
.poll .question {
	font-size: 14px;
	padding: 5px;
	margin: 5px;
	border: 1px solid #999999;
	color: #663300;
}
.poll .answer {
	font-size: 14px;
	color: Blue;
	padding: 2px;
}
.poll .closed {
	font-style: italic;
	font-size: 11px;
	color: red;
	text-align: center;
}
.poll .button {
	text-align: center;
	padding: 8px 5px 6px 5px;
}
.poll .response {
	margin-left: 5%;
	color: Blue;
	float: left;
}
.poll .graph {
	width: 90%;
	margin-left: 5%;
	border: solid 1px #999999;
	clear: both;
	margin-bottom: 10px;
}
.poll .graph-value {
	background-color: red;
}
.poll .value {
	float: right;
	margin-right: 5%;
	color: Blue;
}
.response-box {
	font-size:12px;
}
.your-answer {
	font-size:12px;
	margin: 20px auto 20px 5%;
}
.your-answer span {
	font-weight: bold;
}
.poll .non-member-message {
	margin: 10px 5px 10px 5px;
	font-style: italic;
	font-size: 12px;
}

/** Upcoming Events **/
.ue {
	border:none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	text-align:left;
	overflow:auto;
}
.ue-title {
	display: block;
	margin-bottom: 15px;
	text-align: left;
	float: left;
	position: relative;
	padding-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: -0.5px;
	font-family:"Roboto Condensed",Open Sans,Roboto,Calibri,Candara,Arial,sans-serif;
}
.ue-event{
	clear: both;
	padding-bottom: 5px;
	float:left;
	width:100%;
	border-bottom:1px solid #e7e9ea;
	margin-bottom:5px;
}

.ue-name {
	float: left;
	padding-left: 10px;
}

.ue-link,
.ue-link a,
.tr-line a,
.ba-name {
	font-size:14px;
	text-decoration:none;
	color:#000;
	font-weight:bold;
	line-height:1;
	font-family:Open Sans,Roboto,Calibri,Arial,sans-serif;
}

.ue-link a:hover {
	text-decoration:underline;
}
.ue-datetime {
	float: left;
	width: 50px;
	text-align: center;
	font-size:20px;
	font-weight:bold;
	box-sizing:border-box;
	font-family:"Roboto Condensed",Open Sans,Roboto,Calibri,Candara,Arial,sans-serif;
}
.ue-month {
	font-size:14px;
	text-transform:uppercase;
	line-height:1;
}
.ue-month.multimonth {
	font-size:11px;
}
.ue-day {
	line-height:15px;
}
.ue-day.multiday {
	font-size:15px;
}
.ue-details {
	float: left;
	max-width:75%;
}
.ue-desc,
.ba-date,
.job-desc{
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:12px;
	color:#959595;
	line-height:1.4;
}


.ue-no-events,
.widget-no-results{
	clear:left;
	width:100%;
	font-size:12px;
	color:#cdcdcd;
	margin-top:10px;
}
.weather-widget iframe {
left:0px;
}

/** Slideshow Gallery **/
.minimal .galleria-container {  
	border-style:none;
}
.minimal .galleria-stage {
	top: 0px !important;
	bottom: 0px !important;
	left: 0px !important;
	right: 0px !important;
	background-color:transparent;
}
.minimal .galleria-bar, .minimal .galleria-image-nav {
	display: none !important;
}
.editor-spacer {
	display:none;
}

/** Recent Blogs **/
.rn-title,
.rb-title,
.tr-title,
.ba-title,
.job-title,
.cid-title{
	display: block;
	margin-bottom: 15px;
	text-align: left;
	float: left;
	position: relative;
	padding-top: 5px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.5rem;
	letter-spacing: -0.5px;
	font-family:"Roboto Condensed",Open Sans,Roboto,Calibri,Candara,Arial,sans-serif;
}
.ce-widget.rn,
.ce-widget.rb,
.ce-widget.tr,
.ce-widget.ba-widget,
.ce-widget.jb,
.ce-widget.members{
	overflow:auto;
}
.rb-line,
.rn-line,
.tr-line,
.ba-line,
.job-line {
	clear: both;
	padding-bottom: 5px;
	width:100%;
	border-bottom:1px solid #e7e9ea;
	margin-bottom:5px;
}
.rn-summary {
	white-space:normal;
	color:#505659;
	font-size:12px;
}
.rb-line,
.rb-blog-title,
.rb-author,
.rn-news-title,
.ba-line {
	clear:left;
	width:100%;
}


.rb-line a,
.rn-line a,
.job-widget-title{
	font-weight:normal;
	font-size:14px;
	text-decoration:none;
	color:#2e7ec8;
	line-height:1;
	font-family:Open Sans,Roboto,Calibri,Arial,sans-serif;
}

.rn-line a,
.job-widget-title { 
	font-size:16px; line-height:1.5;

}
.job-widget-title {
	color:#000;
}
.job-widget-title a {
	color: #2e7ec8;
}
.rb-line a:hover,
.rn-line a:hover,
.job-line a:hover{
	text-decoration:underline;
}

.rb-blog-title,
.rn-news-title,
.job-title,
.cid-title {
    font-size: 16px;
    letter-spacing: -0.5px;
    font-family: Open Sans,Roboto,Calibri,Arial,sans-serif;
    font-weight: bold;
}
.rb-blog-title,
.rn-news-title { 
	margin-top:8px;
}
.rn-news-title {
	border-bottom:1px solid #000;
}
.rb-blog-title:first-child,
.rn-news-title:first-child {
	margin-top:0px;
}

.rb-datetime,
.rb-author,
.rn-datetime,
.rn-author,
.job-datetime{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size:12px;
	color:#959595;
	line-height:1.4;
}

.rn-datetime { 
	margin-top:5px;
}
.rb-author,
.rn-author {
	border-bottom:1px solid #000;
	margin-bottom:3px;
	padding-bottom:3px;
}

.rn-author { 
	border-bottom:none;
}
.tr-line {
	padding-top:3px;
	padding-bottom:3px;
}
.tr-line a {
	float:left;
	line-height:30px;
	transition:all .5s ease;
}
.tr-line a:hover { 
	color:#1286df;
}
.tr-line .tr-status {
	float:right;
	min-width:70px;
	line-height:30px;
	padding-left:3px;
	padding-right:3px;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	/*max-width:90px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;*/
}
.tr-status.tr-open {
	background-color:#008f14;
	color:#FFF;
}
.tr-status.tr-closed {
	background-color:#c80000;
	color:#FFF;
}
.tr-status.tr-partial {
	background-color:#ffc000;
	color:#000;
}

.ba-icon {
	float:left;
	width:25px;
	height:25px;
	background-repeat:no-repeat;
	background-size:20px;
	background-position:center center;
	margin-right:5px;
}
.ba-bday {
	background-image:url(/images/shared_images/cake.png);
}
.ba-anv {
	background-image:url(/images/shared_images/heart.png);
}
.ba-icon,
.ba-info {
	float:left;
}
.ba-info {
	max-width:75%; 
}
.submenu-widget a {
	display:block;
	color:#FFF;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	line-height:40px;
	padding-left:10px;
	box-sizing:border-box;
	transition:all .5s ease;
}

.submenu-widget a:hover {
	background:rgba(255,255,255,.2);
}
/** Check In Desk **/
.occupancy-container {
    float: left;
    clear: left;
    margin-left: 5px;
    padding: 2px;
    display: inline-block;
    border: 1px solid;
    border-radius: 6px;
    text-align: center;
}

.occupancy-balance {
    font-size: 24px;
}

.banner-ads {
overflow:hidden;
max-width:90%;
margin-left:auto;
margin-right:auto;
min-height:150px;
}
.banner-ads .marquee {
white-space:nowrap;
}
.banner-ads .marquee img {
	max-height: 140px;
	vertical-align: middle;
	margin-right: 20px;
	margin-left:initial;
	display:inline-block;
}
.banner-ads .marquee {
	max-width: 100%;
	position: relative;
	animation: CSSright linear 25s infinite;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

@keyframes CSSright {
	0% {
		right: -100%
	}
	100% {
		right: 100%
	}
}

.banner-ads .marquee:hover {
	animation-play-state: paused;
}
.galleria-errors {
	display: none !important;
}
.countdown-widget .timeli,
.countdown-widget span {
display:inline-block;
}

.countdown-widget.opt1 {
	margin-top: 10px;
	margin-bottom: 30px;
	padding: 20px;
	color: #000;
	font-size: 40px;
	font-family: Roboto,sans-serif;
	font-weight: 100;
	display: inline-block;
	color: #0096ff;
	padding-bottom: 40px;
}
.left-col .countdown-widget.opt1,
.right-col .countdown-widget.opt1 {
font-size:20px;
padding-left:10px;
padding-right:10px;
}

.countdown-widget.opt2 {
	margin-top:30px;
	margin-bottom:30px;
	display:inline-block;
}
.opt2 .countdown-title {
	margin-bottom:20px;
	font-size:24px;
	font-weight:bold;
}
.left-col .opt2 .countdown-title,
.right-col .opt2 .countdown-title {
font-size:18px;
}
.opt2 .countdown-container {
	padding-top: 10px;
	padding-bottom: 30px;
	display:inline-block;
	
}
.opt1 .countdown-title {
margin-bottom:20px;
}
.opt1 .timeli {
	display: inline-block;
	color: #000;
	position: relative;
	padding-bottom: 10px;
	border-bottom: 1px solid #000;
	margin-right: 5px;
	margin-left: 5px;
	font-size: 60px;
	vertical-align: middle;
	text-align: center;
	line-height: 40px;
	min-width: 60px;
}
.opt2 .timeli {
	display:inline-block;
	color:#FFF;
	background-color:#313131;
	border-radius:5px;
	position:relative;
	border-bottom:1px solid #FFF;
	margin-right:5px;
	margin-left:5px;
	font-size:40px;
	vertical-align:middle;
	line-height:50px;
	min-width:60px;
	text-align:center;
}
.left-col .opt1 .timeli,
.right-col .opt2 .timeli,
.left-col .opt2 .timeli,
.right-col .opt1 .timeli {
	font-size: 20px;
	line-height: 30px;
	min-width: 30px;
}

.opt1 .timeli span {
	vertical-align: middle;
}



.opt1 .days:after,
.opt1 .hours:after,
.opt1 .minutes:after,
.opt1 .seconds:after {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -20px;
	content: '';
	font-size: 16px;
	text-align: center;
	height: 20px;
	text-transform: uppercase;
}

.left-col .opt1 .days:after,
.left-col .opt1 .hours:after,
.left-col .opt1 .minutes:after,
.left-col .opt1 .seconds:after,
.right-col .opt1 .days:after,
.right-col .opt1 .hours:after,
.right-col .opt1 .minutes:after,
.right-col .opt1 .seconds:after {
font-size:8px;
}

.opt2 .days:after,
.opt2 .hours:after,
.opt2 .minutes:after,
.opt2 .seconds:after {
	position: absolute;
	left: 0px;
	right: 0px;
	bottom: -10px;
	content: '';
	font-size: 14px;
	text-align: center;
	height: 20px;
	text-transform: none;
	color:#000;
}
.left-col .opt2 .days:after,
.left-col .opt2 .hours:after,
.left-col .opt2 .minutes:after,
.left-col .opt2 .seconds:after,
.right-col .opt2 .days:after,
.right-col .opt2 .hours:after,
.right-col .opt2 .minutes:after,
.right-col .opt2 .seconds:after {
	font-size: 8px;
	bottom:-20px;
}

.opt1 .days:after {
	content: 'Days';
}

.opt1 .hours:after {
	content: 'Hours';
}

.opt1 .minutes:after {
	content: 'Minutes';
}

.opt1 .seconds:after {
	content: 'Seconds';
}
.opt2 .days:after {
	content: 'Days';
}

.opt2 .hours:after {
	content: 'Hours';
}

.opt2 .minutes:after {
	content: 'Minutes';
}

.opt2 .seconds:after {
	content: 'Seconds';
}
.countdown-link {
margin-top:30px;
text-align:center;
}
.rn-title {
float:none;
}
.ce-widget.rn,
.ce-widget.ue {
position:relative;
}
.ce-widget.rn.cards,
.ce-widget.ue.cards {
overflow:hidden;
padding-left:30px;
padding-right:40px;
text-align:center;
box-sizing:border-box;
}
.ce-widget.rn.cards .widget-wrap::-webkit-scrollbar,
.ce-widget.ue.cards .widget-wrap::-webkit-scrollbar {
	display: none;
}
.ce-widget.rn.cards .widget-wrap,
.ce-widget.ue.cards .widget-wrap {
	overflow: auto;
	scrollbar-width: none;
	-ms-overflow-style: -ms-autohiding-scrollbar;
}
.ce-widget.rn.cards .rn-title,
.ce-widget.ue.cards .ue-title {
text-align:center;
float:none;
}
.widget-card.news-card,
.widget-card.ue-card {
	width: 300px;
	margin-right: 10px;
	border: 1px solid #cdcdcd;
	font-family: Arial,sans-serif;
	margin-bottom: 10px;
	display:flex;
	flex-wrap:wrap;
	flex-direction:column;
	align-content:flex-start;
	flex: 0 0 300px;
  flex-shrink: 0;
  width: 0;
}
.widget-card {
	background-color:#FFF;
}
.widget-card .card-author {
	padding:0px 10px 0px 10px;
	font-size:12px;
	color:#000;
	line-height:18px;
}
.widget-card .card-title,
.widget-card .card-date {
	font-size: 16px;
	color: #000;
	padding: 10px;
	padding-bottom: 0px;
	font-weight: bold;
	white-space: normal;
	text-align: left;
}
.widget-card .card-date {
	padding-top: 0px;
	padding-bottom: 0px;
	line-height: 24px;
	font-size: 14px;
	color: #cdcdcd;
}
.widget-card.ue-card .card-date {
color:#000;
}
.widget-card .card-category {
	color:#000;
	font-size:12px;
	font-weight:bold;
	padding:0px 10px 0px 10px;
	box-sizing:border-box;
	line-height:18px;
}

.widget-card .card-image {
	background-size: cover;
	width: 100%;
	height: 150px;
	background-position: center center;
}

.widget-card .card-text {
	padding: 10px;
	padding-top:0px;
	box-sizing: border-box;
	font-size: 14px;
	color: #313131;
	white-space: normal;
	text-align: left;
	max-width:100%;
}

.widget-card .card-link {
	font-weight: bold;
	display: inline-block;
	white-space: normal;
	text-align: left;
	align-self:flex-start;
	margin-top:auto;
}
.widget-card a.card-link.ce-button {
	padding-left:0px;
	padding-right:0px;
	border-radius:0px;
	width:100%;
	text-align:center;
	border:none;
}

.widget-arrow {
	position: absolute;
	top: 50%;
	width: 30px;
	height: 40px;
	margin-top: -20px;
	opacity: .5;
	z-index: 2;
	text-align: center;
	background-repeat: no-repeat;
	background-position:center center;
	transition: all .5s ease;
	cursor:pointer;
}

	.widget-arrow:hover {
		background-repeat: no-repeat;
		background-position: center center;
		opacity:1;
	}

	.widget-arrow.left-arrow {
		left: 0px;

	}

	.widget-arrow.right-arrow {
		right: 10px;
	}

.ce-widget.news-widget.horizontal,
.ce-widget.ue.horizontal {
	position: relative;
	text-align: center;
}

.ce-widget .widget-wrap {
	position: relative;
	text-align: left;
	max-width: 100%;
	display:inline-flex;
	flex-wrap:nowrap;
	width: 100%;
}

.horiz-title.widget-title {
	text-align: center;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
	font-family: Arial,sans-serif;
}

.widget-arrow.left-arrow {
	background-image: url(/images/shared_images/thin-left.svg);
}

.widget-arrow.right-arrow {
	background-image: url(/images/shared_images/thin-right.svg);
}
.widget-card .card-title,
.widget-card .card-category,
.widget-card .card-author,
.widget-card .card-date,
.widget-card .card-text {
	min-width: 100%;
	max-width:100%;
	box-sizing:border-box;
}
.widget-card .card-text {
	word-break:break-word;
}

.widget-grid-wrap {
	flex-wrap: wrap;
	display: flex;
}
.widget-grid-wrap .card-image {
height:auto;
}
.widget-grid-wrap .card-image img {
display:block;
width:100%;
margin-left:auto;
margin-right:auto;
margin-bottom:10px;
margin-top:10px;
}
.widget-grid-wrap .widget-card .card-link {
margin-top:initial;
text-decoration:none;
}
.widget-grid-wrap .widget-card .card-text {
padding-left:0px;
padding-right:0px;
}
.ce-widget.rn.grid .rn-title {
text-align:center;
}
.widget-grid-wrap .widget-card.news-card {
border:none;
padding:20px;
padding-bottom:20px;
margin-bottom:20px;
box-sizing:border-box;
margin-right:0px;
width:25%;
position:relative;
}
.widget-grid-wrap .widget-card.news-card:after {
	content: '';
	position: absolute;
	left: 20px;
	right: 20px;
	height: 1px;
	bottom: 0px;
	background-color: #cdcdcd;
}
.widget-grid-wrap .widget-card .card-title,
.widget-grid-wrap .widget-card .card-category {
padding-left:0px;
padding-right:0px;
}
.widget-grid-wrap .widget-card .card-category {
text-transform:uppercase;
}
.widget-grid-wrap .widget-card .card-author,
.widget-grid-wrap .widget-card .card-date {
padding-left:0px;
font-weight:normal;
font-size:13px;
color:#959595;
}
.tab-titles .tab-title {
display:inline-block;
padding:5px 10px;
box-sizing:border-box;
cursor:pointer;
border-bottom:none;
transition:all .5s ease;
opacity:.6;
}
.tab-titles .tab-title.active {
opacity:1;
border-bottom:none !important;
}
.tab-titles,
.tab-ct {
width:100%;
clear:left;
}
.tab-ct {
border-top:1px solid #cdcdcd;
}
.t-ct {
display:none
}
.tab-ct-1 {
display:block;
}
.tab-contents {
padding-top:10px;
}
.banner-slideshow-widget .item .overlay {
white-space:pre-wrap;
}
.banner-slideshow-widget .item-link {
margin-top:5px;
}
.exhibition-container{
display:flex;
flex-wrap:wrap;
}
.ex-item-outer {
width:16.66%;
display:flex;
text-align:center;
justify-content:center;
padding:10px;
box-sizing:border-box;
}
.ex-item-outer a {
text-decoration:none;
display:block;
width:100%;
}
.ex-item-inner {
display:flex;
align-items:flex-end;
width:100%;
justify-content:center;
}
.exhibition-user {
color:#000;
font-size:13px;
align-self:flex-end;
text-decoration:none;
}
.exhibition-image img {
	width: 100%;
	border: 1px solid #e8e8e8;
box-sizing:border-box;
max-width:150px;
}
.exhib-dialog #title_box {
margin-top:20px;
}
.exhib-dialog.ui-dialog .ui-dialog-titlebar {
	border-bottom: none;
position:absolute;
right:10px;
bottom:20px;
z-index:100;
}

@media (max-width :767px) {
	/* Styles */
	.widget-card-container {
		width: 100% !important;
		white-space: normal;
		overflow-x: visible;
		overflow-y: visible;
	}
	.ce-widget .widget-wrap {
		display:initial;
	}
	.ce-widget.rn.cards,
	.ce-widget.ue.cards {
		padding-left:0px;
		padding-right:0px;
	}
	.widget-card.news-card,
	.widget-card.ue-card {
		display: block;
		margin-left: auto;
		margin-right: auto;
		width:100%;
		max-width:100%;
		box-sizing:border-box;
	}
	.widget-arrow {
		display:none;
	}
.tab-title {
width:100%;
}

	.ex-item-outer {
		width: 50%;
	}

}

@media (min-width:768px) and (max-width :1024px) {
	/* Styles */
	.widget-card-container {
		max-width: 100% !important;
	}
	.ex-item-outer {
		width: 25%;
	}
}
@media (min-width : 320px) and (max-width :767px) {
	/* Styles */
	.countdown-widget.opt1,
	.countdown-widget.opt1 {
		font-size: 20px;
		padding-left: 10px;
		padding-right: 10px;
	}

	.opt2 .countdown-title,
	.opt2 .countdown-title {
		font-size: 18px;
	}

	.opt1 .timeli,
	.opt2 .timeli,
	.opt2 .timeli,
	.opt1 .timeli {
		font-size: 20px;
		line-height: 30px;
		min-width: 30px;
	}

	.opt1 .days:after,
	.opt1 .hours:after,
	.opt1 .minutes:after,
	.opt1 .seconds:after,
	.opt1 .days:after,
	.opt1 .hours:after,
	.opt1 .minutes:after,
	.opt1 .seconds:after {
		font-size: 8px;
	}

	.opt2 .days:after,
	.opt2 .hours:after,
	.opt2 .minutes:after,
	.opt2 .seconds:after,
	.opt2 .days:after,
	.opt2 .hours:after,
	.opt2 .minutes:after,
	.opt2 .seconds:after {
		font-size: 8px;
		bottom: -20px;
	}
}</pre></body></html>