---
title: 'Contact'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Pros - American Go Association">
  <head id="page_head">
  	<title id="page_title">Go Congress - Contact/Volunteer - American Go Association</title>
  	<link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20231226">
  	<link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
  	<link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
  	<meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
  	<meta name="referrer" content="always">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<meta property="og:image" content="https://s3.amazonaws.com/ClubExpressClubFiles/454497/css/aga1.jpg">
  </head>
  <body>
  	<div id="layout_wrapper">
  		<main class="layout-container main-container">
  			<!-- left content -->
  			<div id="content_column" class="col center-col  watermark">
  				<!-- page content -->
  				<div id="page_content">
  					<div id="custom_page_content">
  						<div class="build-row full-width " id="full_width-5610209">
  							<div class="build-column full ">
  								<div class="cell-item inner-column">
  									<h1 class="bg-agablue text-white"><span style="font-size: 28px;">Contact / Volunteer</span></h1>
  									<p>&nbsp;</p>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5610210">
  							<div class="build-column quarter ">
  								<div class="cell-item inner-column">
  									<img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Contact_Us_1584738192.png" width="153" height="153" style="width:153px;height:153px;margin-top:30px;float: right;" title="Contact_Us.png" alt="Contact_Us.png" data-align="right">
  								</div>
  							</div>
  							<div class="build-column threequarter ">
  								<div class="cell-item inner-column">
  									<h1 style="font-family: 'Red Hat Text', sans-serif; background-color: transparent; color:black;"><span style="font-size: 22px;">Contact Us</span></h1>
  									<p>
  										General questions go to <strong>goclubportland@gmail.com</strong>. <br>
  										Registration questions go to <strong>registrar@gocongress.org</strong>. <br><br>
  									</p>
  									<div class="overflow-x-auto">
                                        <table class="min-w-full table-auto">
                                            <tbody>
                                                <tr>
                                                    <td class="text-left p-2"><strong>Co-Director</strong></td>
                                                    <td class="text-left p-2">Stew Towle</td>
                                                    <td class="text-left p-2">goclubportland@gmail.com</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left p-2"><strong>Co-Director</strong></td>
                                                    <td class="text-left p-2">Jonas Acres</td>
                                                    <td class="text-left p-2">jonas.acres@gocongress.org</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left p-2"><strong>Registrar</strong></td>
                                                    <td class="text-left p-2">Matt Swart</td>
                                                    <td class="text-left p-2">registrar@gocongress.org</td>
                                                </tr>
                                                <tr>
                                                    <td class="text-left p-2"><strong>Pro Coordinator</strong></td>
                                                    <td class="text-left p-2">Michael Zhou</td>
                                                    <td class="text-left p-2">michael.zhou@gocongress.org</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5610211">
  							<div class="build-column full ">
  								<div class="cell-item inner-column">
  									<hr>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5610212">
  							<div class="build-column quarter ">
  								<div class="cell-item inner-column"><img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/All_Hands_341714181.png" width="238" height="123" style="width:238px;height:123px;border-width:0;border-color:rgb(0, 0, 0);border-style:solid;float: right;" title="All_Hands.png" alt="All_Hands.png" data-align="right"></div>
  							</div>
  							<div class="build-column threequarter ">
  								<div class="cell-item inner-column">
  									<h2 style="font-family: 'Red Hat Text', sans-serif; background-color: white"><span style="font-size: 22px;">Volunteer</span></h2>
  									<p>From tournament directors to the people who volunteer only a few hours at the front desk, we need your help. The Go Congress would not be possible without the dedication of dozens of volunteers. Please email the congress directors to volunteer at this year's congress.<br>
  										<br>
  										Thanks!
  									</p>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- right content -->
  		</main>
  	</div>
  </body>
</Layout>
