---
title: 'Pros'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Pros - American Go Association">
<link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
   <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20231226">
   <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
   <hr>
   <div class="build-row full-width " id="full_width-5763810" >
      <div class="build-column full ">
         <div class="cell-item inner-column">
            <h1 class="bg-agablue text-white"><span style="font-size: 28px;">Pros</span></h1>
            <p>&nbsp;</p>
            <p><span style="background-color: transparent;">The Congress welcomes professionals who have mastered Go at the highest level and seek to help us become more skillful players. </span>Please continue to check this page as more are added.&nbsp;&nbsp;<span style="font-size: 16px;">(</span><em><span style="font-size: 16px;">Full Asian names usually listed in Asian order, last name/first name, except for those living in the USA.)</span></em></p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763811" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Jiseok_Kim_9P_1641684892.jpg" width="276" height="202" style="width:276px;height:202px;float:right;" title="Jiseok_Kim_9P.jpg" alt="Jiseok_Kim_9P.jpg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><span style="color: rgb(0, 0, 0);"><strong style="background-color: transparent;">Kim Jiseok</strong><span style="background-color: transparent;">, Professional 9 dan</span></span></p>
            <p><span style="background-color: transparent; color: rgb(0, 0, 0);" class="ql-cursor">Korean Baduk Association<br>
               &nbsp;&nbsp;<br>
               </span>
            </p>
            <p>
               He became a professional Go player at the age of 14 in 2003 and achieved 9D in 2013. In 2014, he won the Samsung World Championship, one of the most prestigious Go tournaments in the world. He also was the runner-up at the LG Cup in 2015, another major international competition. In 2018, he won the TV Asian Championship, which is a highly competitive world blitz competition. He also served as the captain of the Korean national Go team from 2014 to 2022.<br><br>
               Aside from Go, he enjoys playing golf and badminton.
            </p><br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763811" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Myungwan-Kim.jpeg" width="200" height="200" style="width:200px;height:200px;float:right;">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><span style="color: rgb(0, 0, 0);"><strong style="background-color: transparent;">Myungwan Kim</strong><span style="background-color: transparent;">, Professional 9 dan</span></span></p>
            <br>
            <p>
               He became a professional in 1994 and 9 dan in 2010.  He was a semi-quarter finalist in the Samsung Cup in 2005, the runner up three times at BC Card cup in 1999, 2000 and 2002. After moving to Los Angeles, he worked as an International Go Instructor appointed by the KBA from 2008 - 2017. He has taught many American Go players, had many workshops and lectures, and helped the AGA to start the Professional System in North America. He was undefeated in the US Go Open three times in a row, from 2008 - 2010.
               <br><br>
               Back in Korea, he reinvented Go for people with autism spectrum disorder (ASD) and taught more than 100 of them. He also trained 29 professional Go players to teach Go to people with ASD.
               <br><br>
               He currently lives in Honolulu, Hawaii and works as an accountant. He also teaches Go in two local schools, one Go club, and online.
            </p>
            <br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763813" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Yilun_Yang_270075802.png" width="148" height="182" style="width:148px;height:182px;margin-top:10px;margin-bottom:10px;float:right;" title="Yilun_Yang.png" alt="Yilun_Yang.png">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong style="background-color: transparent;">Yilun Yang</strong><span style="background-color: transparent;">, Professional 7 dan</span></p>
            <p><span style="background-color: transparent;"><span class="ql-cursor"></span></span></p>
            <br>
            <p><span style="background-color: transparent; font-size: 16px;">Born in Shanghai in 1951, he became a professional Go player in 1966. He joined the Chinese National Go Team in 1973 and later coached the Shanghai professional Go team. Since moving to the United States in 1986, he has become a popular Go teacher. His many books include&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Fundamental Principles of Go</em><span style="background-color: transparent; font-size: 16px;">,&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Whole Board Thinking in Joseki</em><span style="background-color: transparent; font-size: 16px;">, and&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Ingenious Life and Death Puzzles</em><span style="background-color: transparent; font-size: 16px;">. He has taught hundreds of students worldwide via the internet and teaches workshops across the country.</span></p>
         </div>
      </div>
   </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763820" >
     <div class="build-column quarter ">
        <div class="cell-item inner-column" style="text-align: right;">
           <img src="/Li-Zhe.jpeg" width="158" height="218" style="width:158px;height:218px;margin-top:10px;margin-bottom:10px;float:right;" title="Li-Zhe.jpeg" alt="Li-Zhe.jpeg">
        </div>
     </div>
     <div class="build-column threequarter ">
        <div class="cell-item inner-column">
           <p><strong>Li Zhe</strong>, Professional 6 dan</p>
           <p>&nbsp;</p>
           <p>Born in Wuhan, Hubei Province in 1989 and learned Weiqi at the age of 8.  Became 1p in 2000 and was selected to the China National Weiqi Team in 2002.  Reached 6p in 2007.</p><br>
           <p>Weiqi achievements: </p>
              <ul>
                  <li>Champion of the Chinese New Player of Weiqi in 2006.</li>
                  <li>Bronze medal in men's individual at The World Mind Sports Games in 2008.</li>
                  <li>MVP of China Weiqi A League in 2010.</li>
                  <li>Champion of China Ryusei Weiqi championship in 2011.</li>
                  <li>Reached the final four of the LG Cup World Go Competition in 2013.</li>
                  <li>Gold medal in men's team at National Mind Games in 2015.</li>
                  <li>Reached the final four of the Xinao Cup World Weiqi Open tournament in 2017.</li>
                  <li>Ranked third among Chinese professional players in 2011, and ninth in the world by rating.</li>
              </ul><br>
           <p>Li Zhe is currently an Associate professor of philosophy at Wuhan University, China.</p><br>
        </div>
     </div>
  </div>
   <!--<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763814" >
      <div class="build-column quarter ">
          <div class="cell-item inner-column" style="text-align: right;">
              <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/MingJiu_Jiang_1316643728.png" width="142" height="175" style="width:142px;height:175px;border-width:0px;border-style:solid;float:right;" title="MingJiu_Jiang.png" alt="MingJiu_Jiang.png">
          </div>
      </div>
      <div class="build-column threequarter ">
          <div class="cell-item inner-column">
              <p><strong style="background-color: transparent; font-size: 16px;">MingJiu Jiang</strong><span style="background-color: transparent; font-size: 16px;">, Professional 7 dan</span></p>
              <p><span style="background-color: transparent; font-size: 16px;" class="ql-cursor"></span></p><br>
              <p><span style="font-size: 16px;">Born in 1957, he became a professional 7 Dan in 1987. He moved to the United States in 2000 and has since then represented the United States and North America nearly annually in international tournaments.&nbsp; In 2004, he reached the top 16 in the 9th LG World Cup.&nbsp; And in 2007, he was the champion of the First North America Ing Masters&nbsp;Championship.&nbsp;<br>
                 </span>
              </p>
              <div>&nbsp;</div>
              <p><span style="font-size: 16px;">He has been teaching Go for more than 30 years to both children and adults, and many of his students have been North American representatives to the World Youth Go Championship.&nbsp; ZhuJiu Jiang (jujo), 9P is his younger brother.</span></p>
          </div>
      </div>
      </div>-->
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763816" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/hai_li_751355658.png" width="137" height="156" style="width:137px;height:156px;margin-top:10px;margin-bottom:10px;float:right;" title="hai_li.png" alt="hai_li.png">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong style="background-color: transparent;">Hai Li</strong><span style="background-color: transparent;">, Professional 5 dan</span></p>
            <p><span style="background-color: transparent;"><br>
               Hai Li, is a 5-dan pro player originally from China. He has focused on teaching Go for almost 40 years. His students include the world Champion Yue Shi (9 dan) and dozens of pros.&nbsp; He served as the Henan Province and Tianjin Weiqi team coach from 1986. In 2005, he founded the Jin Hai Weiqi Academy in Tianjin, China.&nbsp;<br>
               <br>
               In 2018, he moved to Orange County, CA, USA. He founded the Hai Li Go School to offer Go lessons and organize Go tournaments in the local area. Since then, he has been actively teaching Go and his students have spread to many US states.<br>
               </span>
            </p><br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763819" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/ryan_li_1285581878.png" width="171" height="239" style="width:171px;height:239px;margin-top:10px;margin-bottom:10px;float:right;" title="ryan_li.png" alt="ryan_li.png">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong style="background-color: transparent;">Ryan Li</strong><span style="background-color: transparent;">, Professional 4 dan</span></p>
            <p><span style="background-color: transparent;" class="ql-cursor"></span></p>
            <br>
            <p><span style="background-color: transparent;">Ryan is a Canadian professional Go player. He achieved professional 1 dan in 2014 and 3 dan in 2021. Ryan won several games representing North America in world professional tournaments including the IMSA Elite Mind Games, Samsung Cup, MLILY Go Open, Ing Cup, and Chunlan Cup. He defeated world champion Chen Yaoye 9P and advanced to the world top 16 in 2017. Ryan runs the Random Opening Challenge series on the NYIG Go YouTube channel. <br>
               &nbsp;<br>
               Outside Go, Ryan has a PhD from Yale University and several publications in scientific journals. Ryan and his wife, Stephanie Yin 1P, run the </span><a href="https://www.ny-go.org/" target="_self" style="background-color: transparent; color: rgb(17, 85, 204);">New York Institute of Go</a><span style="background-color: transparent;"> focused on Go teaching and outreach on the East Coast.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763822" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Mateusz_Surma_2P_1706877353.jpg" width="246" height="163" style="width:246px;height:163px;border-width:0px;border-style:solid;float:right;" title="Mateusz_Surma_2P.jpg" alt="Mateusz_Surma_2P.jpg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><span style="font-size: 16px;"><strong>Mateusz Surma</strong>, Professional 3 dan - Poland</span></p>
            <p><span style="font-size: 16px;">&nbsp;</span></p>
            <p><span style="font-size: 16px;">Mateusz has been a professional Go player since 2015.&nbsp; He is the founder and CEO of www.polgote.com (a platform which connects students with freelance Go teachers).</span></p>
            <p><span style="font-size: 16px;">&nbsp;</span></p>
            <p><span style="font-size: 16px;">He was the first European to win four games in a row in the Chinese C League. Throughout his career, he has authored nine Go books. You can view all his offerings on his <a href="https://eurogofed.org/pros/surma.html">home page</a>. </span></p>
            <p><span style="font-size: 16px;"><br>
               Married since 2018, he's the father of two kids.</span>
            </p>
            <p>&nbsp;</p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive ">
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Sun-Yuan.jpeg" width="200" height="220" style="width:200px;height:220;border-width:0px;border-style:solid;float:right;" title="Sun-Yuan.jpeg" alt="Sun-Yuan.jpeg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong>Sun Yuan</strong>, Professional 3 dan</p>
            <p>Chinese Weiqi Association</p><br>
            <p>He learned Weiqi at the age of 8 and became a professional at the age of 15. He participated in the first Chinese Weiqi A League.</p><br>
            <p>He is currently the VP of International Society of Weiqi Studies. His research includes Weiqi rules, research on Participation motivation and behavioral intention based on psychology/management theory. He was the early chief referee of the World AI Weiqi Tournament hosted by China. He is concerned about the technological change and social influence brought by AI to Weiqi, advocated Interdisciplinary research, and called for strengthening international exchanges and cooperation.</p><br>
            <p>Outside academia, he initiated Zhiyuan University Weiqi Development Fund and Shanghai University Weiqi League; and co-founded the North-South Weiqi University Festival with Professor You Xiaochuan of Tsinghua University, dedicated to the popularization of Weiqi in colleges. He’s also a founding member of the Weiqi Department at Shanghai Jianqiao University.</p><br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive ">
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Hane-Ayaka.png" width="204" height="270" style="width:204px;height:270px;border-width:0px;border-style:solid;float:right;" title="Hane-Ayaka.png" alt="Hane-Ayaka.png">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong>Hane Ayaka</strong>, Professional 2 dan</p>
            <p>&nbsp;</p>
            <p>Born in 2002 and became 1p in 2019, and 2p in 2023.  Her parents are Hane Naoki, 9p and Hane Shigeko, 1P. </p><br>
            <p>Her grandfather is Hane Yasumasa, 9p.  Her father and grandfather are famous for both having won a major title in Japan.</p><br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive ">
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Hane-Shigeko.png" width="186" height="252" style="width:186px;height:252px;border-width:0px;border-style:solid;float:right;" title="Hane-Shigeko.png" alt="Hane-Shigeko.png">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong>Hane Shigeko</strong>, Professional 1 dan</p>
            <p>&nbsp;</p>
            <p>Born in 1973 and became 1p in 1998.</p><br>
            <p>Wife of Naoki Hane, 9p.</p><br>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive ">
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/stephanie_yin_283056282.jpg" width="186" height="201" style="width:186px;height:201px;border-width:0px;border-style:solid;float:right;" title="stephanie_yin.jpg" alt="stephanie_yin.jpg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong>Stephanie Yin</strong>, Professional 1 dan</p>
            <p>&nbsp;</p>
            <p>Stephanie became a professional Go Player through the Chinese Weiqi Association in 2007. She has represented the United States in a number of international tournaments, including the Bingsheng Cup and the MLILY World Go Open. She was a main commentator in the Google Deepmind team for the Ke Jie vs. AlphaGo matches in the Future of Go Summit. Stephanie and her husband, Ryan Li 4P, run the <a href="http://ny-go.org/" target="_self" style="color: rgb(17, 85, 204);">New York Institute of Go</a> focusing on Go teaching and outreach on the east coast.</p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763824" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Eunkyo_Do_1P_79196255.jpg" width="180" height="254" style="width:180px;height:254px;float:right;" title="Eunkyo_Do_1P.jpg" alt="Eunkyo_Do_1P.jpg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><span style="color: rgb(0, 0, 0);"><strong>Do Eunkyo</strong>, Professional 1 dan<br>
               Korean Baduk Association</span>
            </p>
            <p><span style="color: rgb(0, 0, 0);">&nbsp;<br>
               </span><span>Eunkyo started learning Go at the age of 10 and was considered a promising prospect for the future. However, she failed to become a professional player at the age of 16 and decided to switch to studies instead. After majoring in mathematics and working at a financial company for 4 years, with a gap of 15 years, she returned to the world of Go. She resumed studying Go and eventually made her professional debut in 2018.<br>
               <br>
               </span><span>Now, she is challenging her dream of becoming a prominent English Go teacher. She has opened an English <a href="https://www.youtube.com/@eunkyodo" target="_blank">YouTube channel</a>&nbsp;and is taking steps towards realizing her dream.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763824" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Chujo-Chihiro.jpeg" width="180" height="254" style="width:210px;height:254px;float:right;" title="Chujo-Chihiro.jpeg" alt="Chujo-Chihiro.jpeg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><strong>Chujo Chihiro</strong>, Professional 1 dan<br>
               Kansai-Kiin, Osaka, Japan
            </p>
            <p><br>
               <span>Started playing Go at age 7 and became professional in 2011.  Loves teaching Go to people of all ages.  Has taught in elementary schools, children's classes, Go salons, and cultural centers all over Japan.<br>
               <br>
               </span><span>"I see Go as a form of communication which should be enjoyed over a good cup of coffee or tea.  I'm currently studying English, so please speak slowly to me in simple terms."</span>
               </span><span>Outside of Go, she loves to travel, cook, and practice yoga.</span>
            </p>
         </div>
      </div>
   </div>
   <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763824" >
      <div class="build-column quarter ">
         <div class="cell-item inner-column" style="text-align: right;">
            <img src="/Cathy-Li.jpeg" width="173" height="256" style="width:173px;height:256px;float:right;" title="Cathy-Li.jpeg" alt="Cathy-Li.jpeg">
         </div>
      </div>
      <div class="build-column threequarter ">
         <div class="cell-item inner-column">
            <p><span style="color: rgb(0, 0, 0);"><strong>Cathy Li</strong>, Professional 1 dan<br>
               Canadian Go Association</span>
            </p>
            <br>
            <p>
               </span><span>Born in 1974 in Shanghai, China, she started learning Go at the age of seven while studying with the famous Go instructor, Bai Rui Qiu. At the age of 11, she was the only female go player in China to be honored as a "female prodigy" of Go.<br>
               <br>
               </span><span>In 2008, Ms. Li coached Canada's Go team in the first World Mind Sports Games.</span>
            </p>
         </div>
      </div>
   </div>
   <!--<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763826" >
      <div class="build-column quarter ">
          <div class="cell-item inner-column" style="text-align: right;">
              <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/inseong_hwang_1645484077.png" width="192" height="238" style="width:192px;height:238px;float:right;" title="inseong_hwang.png" alt="inseong_hwang.png">
          </div>
      </div>
      <div class="build-column threequarter ">
          <div class="cell-item inner-column">
              <p><strong>Inseong Hwang</strong>, Amateur 8 dan</p>
              <p>&nbsp;</p>
              <p>Inseong is a strong 8 dan amateur who teaches Go for a living and who's online Go School is very popular in the U.S. and Europe.<br>
                  &nbsp;
              </p>
              <p>He was a Korean Yunguseng (Insei) from 1996 to 2001. He joined the Myoung-ji University Baduk Department in 2002 and also worked as a Baduk television commentator. He came to Europe in 2005 and since then, has been teaching Go for western Go players for over 15 years. While living in Europe, he was the top-ranked player for 5 years (2013-2018), and for the last ten years he has been the Official Go Instructor of the French and Swiss Go Associations. His four-lecture series has been a popular feature of recent Congresses.<br>
                  <br>
                  <span style="font-size: 16px;">He has run an online Go academy,&nbsp;<a href="https://ayd.yunguseng.com/" target="_self" style="color: rgb(17, 85, 204);">American Yunguseng Dojang</a>,&nbsp;for over 10 years.</span>
              </p>
          </div>
      </div>
      </div>-->
   <div class="build-row full-width " id="full_width-5763827" >
      <div class="build-column full ">
         <div class="cell-item inner-column">
            <hr>
         </div>
      </div>
   </div>
</Layout>