---
title: 'Pros'
import '../css/common_ui.css?v=20231226';
import '../css/color.css?v=120523';
import Layout from "../../layouts/Pros.astro"
import '../css/club.css?v=46';
---
<Layout title="Go Congress - Pros - American Go Association">
  <hr>
  <div class="build-row full-width " id="full_width-5763810" >
    <div class="build-column full ">
      <div class="cell-item inner-column">
        <h1><span style="font-size: 28px;">Pros</span></h1>
        <p>&nbsp;</p>
        <p><span style="background-color: transparent;">The Congress welcomes professionals who have mastered Go at the highest level and seek to help us become more skillful players. </span>Please continue to check this page as more are added.&nbsp;&nbsp;<span style="font-size: 16px;">(</span><em><span style="font-size: 16px;">Full Asian names usually listed in Asian order, last name/first name, except for those living in the USA.)</span></em></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763811" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Jiseok_Kim_9P_1641684892.jpg" width="276" height="202" style="width:276px;height:202px;float:right;" title="Jiseok_Kim_9P.jpg" alt="Jiseok_Kim_9P.jpg">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><span style="color: rgb(0, 0, 0);"><strong style="background-color: transparent;">Kim Jiseok</strong><span style="background-color: transparent;">, Professional 9 dan</span></span></p>
        <p><span style="background-color: transparent; color: rgb(0, 0, 0);" class="ql-cursor">Korean Baduk Association<br>
                   &nbsp;&nbsp;<br>
                   </span>
        </p>
        <p style="font-size: 16px; color: rgb(0, 0, 0);">
        He became a professional Go player at the age of 14 in 2003 and achieved 9D in 2013. In 2014, he won the Samsung World Championship, one of the most prestigious Go tournaments in the world. He also was the runner-up at the LG Cup in 2015, another major international competition. In 2018, he won the TV Asian Championship, which is a highly competitive world blitz competition. He also served as the captain of the Korean national Go team from 2014 to 2022.<br><br>
        Aside from Go, he enjoys playing golf and badminton.
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763813" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Yilun_Yang_270075802.png" width="148" height="182" style="width:148px;height:182px;margin-top:10px;margin-bottom:10px;float:right;" title="Yilun_Yang.png" alt="Yilun_Yang.png">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><strong style="background-color: transparent;">Yilun Yang</strong><span style="background-color: transparent;">, Professional 7 dan</span></p>
        <p><span style="background-color: transparent;"><span class="ql-cursor"></span></span></p><br>
        <p><span style="background-color: transparent; font-size: 16px;">Born in Shanghai in 1951, he became a professional Go player in 1966. He joined the Chinese National Go Team in 1973 and later coached the Shanghai professional Go team. Since moving to the United States in 1986, he has become a popular Go teacher. His many books include&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Fundamental Principles of Go</em><span style="background-color: transparent; font-size: 16px;">,&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Whole Board Thinking in Joseki</em><span style="background-color: transparent; font-size: 16px;">, and&nbsp;</span><em style="background-color: transparent; font-size: 16px;">Ingenious Life and Death Puzzles</em><span style="background-color: transparent; font-size: 16px;">. He has taught hundreds of students worldwide via the internet and teaches workshops across the country.</span></p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763814" >
      <div class="build-column quarter ">
          <div class="cell-item inner-column" style="text-align: right;">
              <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/MingJiu_Jiang_1316643728.png" width="142" height="175" style="width:142px;height:175px;border-width:0px;border-style:solid;float:right;" title="MingJiu_Jiang.png" alt="MingJiu_Jiang.png">
          </div>
      </div>
      <div class="build-column threequarter ">
          <div class="cell-item inner-column">
              <p><strong style="background-color: transparent; font-size: 16px;">MingJiu Jiang</strong><span style="background-color: transparent; font-size: 16px;">, Professional 7 dan</span></p>
              <p><span style="background-color: transparent; font-size: 16px;" class="ql-cursor"></span></p><br>
              <p><span style="font-size: 16px;">Born in 1957, he became a professional 7 Dan in 1987. He moved to the United States in 2000 and has since then represented the United States and North America nearly annually in international tournaments.&nbsp; In 2004, he reached the top 16 in the 9th LG World Cup.&nbsp; And in 2007, he was the champion of the First North America Ing Masters&nbsp;Championship.&nbsp;<br>
                 </span>
              </p>
              <div>&nbsp;</div>
              <p><span style="font-size: 16px;">He has been teaching Go for more than 30 years to both children and adults, and many of his students have been North American representatives to the World Youth Go Championship.&nbsp; ZhuJiu Jiang (jujo), 9P is his younger brother.</span></p>
          </div>
      </div>
      <div class="clear"></div>
  </div>-->
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763816" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/hai_li_751355658.png" width="137" height="156" style="width:137px;height:156px;margin-top:10px;margin-bottom:10px;float:right;" title="hai_li.png" alt="hai_li.png">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><strong style="background-color: transparent;">Hai Li</strong><span style="background-color: transparent;">, Professional 5 dan</span></p>
        <p><span style="background-color: transparent;"><br>
                   Hai Li, is a 5-dan pro player originally from China. He has focused on teaching Go for almost 40 years. His students include the world Champion Yue Shi (9 dan) and dozens of pros.&nbsp; He served as the Henan Province and Tianjin Weiqi team coach from 1986. In 2005, he founded the Jin Hai Weiqi Academy in Tianjin, China.&nbsp;<br>
                   <br>
                   In 2018, he moved to Orange County, CA, USA. He founded the Hai Li Go School to offer Go lessons and organize Go tournaments in the local area. Since then, he has been actively teaching Go and his students have spread to many US states.<br>
                   </span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763819" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/ryan_li_1285581878.png" width="171" height="239" style="width:171px;height:239px;margin-top:10px;margin-bottom:10px;float:right;" title="ryan_li.png" alt="ryan_li.png">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><strong style="background-color: transparent;">Ryan Li</strong><span style="background-color: transparent;">, Professional 4 dan</span></p>
        <p><span style="background-color: transparent;" class="ql-cursor"></span></p><br>
        <p><span style="background-color: transparent;">Ryan is a Canadian professional Go player. He achieved professional 1 dan in 2014 and 3 dan in 2021. Ryan won several games representing North America in world professional tournaments including the IMSA Elite Mind Games, Samsung Cup, MLILY Go Open, Ing Cup, and Chunlan Cup. He defeated world champion Chen Yaoye 9P and advanced to the world top 16 in 2017. Ryan runs the Random Opening Challenge series on the NYIG Go YouTube channel. <br>
                   &nbsp;<br>
                   Outside Go, Ryan has a PhD from Yale University and several publications in scientific journals. Ryan and his wife, Stephanie Yin 1P, run the </span><a href="https://www.ny-go.org/" target="_self" style="background-color: transparent; color: rgb(17, 85, 204);">New York Institute of Go</a><span style="background-color: transparent;"> focused on Go teaching and outreach on the East Coast.</span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763820" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/eric_lui_205118106.png" width="167" height="205" style="width:167px;height:205px;margin-top:10px;margin-bottom:10px;float:right;" title="eric_lui.png" alt="eric_lui.png">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><strong>Eric Lui</strong>, Professional 2 dan</p>
        <p>&nbsp;</p>
        <p>Born in Maryland, he started playing Go at age 5 and became shodan in less than a year. In 2010, he finished 2nd in the North American Ing Masters. Since becoming an AGA pro in 2016, he has played in over twenty major international tournaments, including the Samsung Cup, MLILY Cup, Ing Cup, Chunlan Cup, Tianfu Cup, Sankei Cup, World Student Go Oza, Pair Go World Cup, and the World Youth Go Championship. He twice represented the United States in the World Amateur Go Championship and Korea Prime Minister Cup International Baduk Championship, achieving the best-ever U.S. finish in both tournaments. </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763822" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Mateusz_Surma_2P_1706877353.jpg" width="246" height="163" style="width:246px;height:163px;border-width:0px;border-style:solid;float:right;" title="Mateusz_Surma_2P.jpg" alt="Mateusz_Surma_2P.jpg">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><span style="font-size: 16px;"><strong>Mateusz Surma</strong>, Professional 2 dan - Poland</span></p>
        <p><span style="font-size: 16px;">&nbsp;</span></p>
        <p><span style="font-size: 16px;">Mateusz has been a professional Go player since 2015.&nbsp; He is the founder and CEO of www.polgote.com (a platform which connects students with freelance Go teachers).</span></p>
        <p><span style="font-size: 16px;">&nbsp;</span></p>
        <p><span style="font-size: 16px;">He was the first European to win four games in a row in the Chinese C League.&nbsp;&nbsp;</span><span style="font-size: 16px;">Throughout his career, he has authored nine&nbsp;Go books.</span></p>
        <p><span style="font-size: 16px;"><br>
                    Married since 2018, he's the father of two kids.</span>
        </p>
        <p>&nbsp;</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763823" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/stephanie_yin_283056282.jpg" width="186" height="201" style="width:186px;height:201px;border-width:0px;border-style:solid;float:right;" title="stephanie_yin.jpg" alt="stephanie_yin.jpg">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><strong>Stephanie Yin</strong>, Professional 1 dan</p>
        <p>&nbsp;</p>
        <p>Stephanie became a professional Go Player through the Chinese Weiqi Association in 2007. She has represented the United States in a number of international tournaments, including the Bingsheng Cup and the MLILY World Go Open. She was a main commentator in the Google Deepmind team for the Ke Jie vs. AlphaGo matches in the Future of Go Summit. Stephanie and her husband, Ryan Li 4P, run the <a href="http://ny-go.org/" target="_self" style="color: rgb(17, 85, 204);">New York Institute of Go</a> focusing on Go teaching and outreach on the east coast.</p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763824" >
    <div class="build-column quarter ">
      <div class="cell-item inner-column" style="text-align: right;">
        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Eunkyo_Do_1P_79196255.jpg" width="180" height="254" style="width:180px;height:254px;float:right;" title="Eunkyo_Do_1P.jpg" alt="Eunkyo_Do_1P.jpg">
      </div>
    </div>
    <div class="build-column threequarter ">
      <div class="cell-item inner-column">
        <p><span style="color: rgb(0, 0, 0);"><strong>Do Eunkyo</strong>, Professional 1 dan<br>
                   Korean Baduk Association</span>
        </p>
        <p><span style="color: rgb(0, 0, 0);">&nbsp;<br>
                   </span><span style="font-size: 16px; color: rgb(0, 0, 0);">Eunkyo started learning Go at the age of 10 and was considered a promising prospect for the future. However, she failed to become a professional player at the age of 16 and decided to switch to studies instead. After majoring in mathematics and working at a financial company for 4 years, with a gap of 15 years, she returned to the world of Go. She resumed studying Go and eventually made her professional debut in 2018.<br>
                    <br>
                    </span><span style="font-size: 16px; color: rgb(0, 0, 0);">Now, she is challenging her dream of becoming a prominent English Go teacher. She has opened an English <a href="https://www.youtube.com/@eunkyodo" target="_blank">YouTube channel</a>&nbsp;and is taking steps towards realizing her dream.</span>
        </p>
      </div>
    </div>
    <div class="clear"></div>
  </div>
  <!--<div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5763826" >
      <div class="build-column quarter ">
          <div class="cell-item inner-column" style="text-align: right;">
              <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/inseong_hwang_1645484077.png" width="192" height="238" style="width:192px;height:238px;float:right;" title="inseong_hwang.png" alt="inseong_hwang.png">
          </div>
      </div>
      <div class="build-column threequarter ">
          <div class="cell-item inner-column">
              <p><strong>Inseong Hwang</strong>, Amateur 8 dan</p>
              <p>&nbsp;</p>
              <p>Inseong is a strong 8 dan amateur who teaches Go for a living and who's online Go School is very popular in the U.S. and Europe.<br>
                  &nbsp;
              </p>
              <p>He was a Korean Yunguseng (Insei) from 1996 to 2001. He joined the Myoung-ji University Baduk Department in 2002 and also worked as a Baduk television commentator. He came to Europe in 2005 and since then, has been teaching Go for western Go players for over 15 years. While living in Europe, he was the top-ranked player for 5 years (2013-2018), and for the last ten years he has been the Official Go Instructor of the French and Swiss Go Associations. His four-lecture series has been a popular feature of recent Congresses.<br>
                  <br>
                  <span style="font-size: 16px;">He has run an online Go academy,&nbsp;<a href="https://ayd.yunguseng.com/" target="_self" style="color: rgb(17, 85, 204);">American Yunguseng Dojang</a>,&nbsp;for over 10 years.</span>
              </p>
          </div>
      </div>
      <div class="clear"></div>
  </div>-->
  <div class="build-row full-width " id="full_width-5763827" >
    <div class="build-column full ">
      <div class="cell-item inner-column">
        <hr>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</Layout>