---
title: 'Contact'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Pros - American Go Association">
  <head id="page_head">
  	<title id="page_title">Go Congress - Schedule - American Go Association</title>
  	<link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
  	<link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
  	<link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
  	<meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
  	<meta name="referrer" content="always">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
  		<main class="layout-container main-container">
  			<!-- left content -->
  			<div id="content_column" class="col center-col  watermark">
  				<!-- page content -->
  				<div id="page_content">
  					<div id="custom_page_content">
  						<div class="build-row full-width " id="full_width-5649879">
  							<div class="build-column full ">
  								<div class="cell-item inner-column">
  									<h1 class="bg-agablue text-white"><span style="font-size: 26px;">Schedules</span></h1>
  									<p>&nbsp;<br>
  										These are weekly overview schedules of the congress.&nbsp;
  									</p>
  									<p>&nbsp;</p>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5649880">
  							<div class="build-column full ">
  								<div class="cell-item inner-column"><img src="/Tournament-Schedule.png" width="820" height="600" style="width:820px;height:600px;display:block;margin-left:auto;margin-right:auto" title="Tournament_Overview_3.jpg" alt="Tournament_Overview_3.jpg" data-align="center"></div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5649881">
  							<div class="build-column full ">
  								<div class="cell-item inner-column">
  									<hr>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5649882">
  							<div class="build-column full ">
  								<div class="cell-item inner-column"><img src="/Pro-Schedule.png" width="945" height="673" style="width:945px;height:673px;display:block;margin-left:auto;margin-right:auto" title="Pro_Schedule.png" alt="Pro_Schedule.png" data-align="center"></div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5649883">
  							<div class="build-column full ">
  								<div class="cell-item inner-column">
  									<hr>
  								</div>
  							</div>
  							<div class="clear"></div>
  						</div>
  						<div class="build-row full-width " id="full_width-5649884">
  							<div class="build-column full ">
  								<div class="cell-item inner-column"><img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/Youth_Schedule_685437238.png" width="850" height="500" style="width:850px;height:500px;display:block;margin-left:auto;margin-right:auto" title="Youth_Schedule.png" alt="Youth_Schedule.png" data-align="center"></div>
  							</div>
  							<div class="clear"></div>
  						</div>
  					</div>
  				</div>
  			</div>
  			<!-- right content -->
  		</main>
  </body>
</Layout>