---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">
  <head id="page_head">
    <title id="page_title">Go Congress - Crazy Go - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
  <div id="layout_wrapper">
    <main class="layout-container main-container">
      <!-- left content -->

      <div id="content_column" class="col center-col  watermark">
        <!-- page content -->
        <div id="page_content">

          <div id="custom_page_content">
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365">
              <div class="build-column quarter ">
                <div class="cell-item inner-column"></div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850366">
              <div class="build-column quarter ">
                <div class="cell-item inner-column">
                  <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview</a><a href="/tournaments/open">US Open</a><a href="/tournaments/masters">US Masters</a><a href="/tournaments/9x9">9x9</a><a href="/tournaments/13x13">13x13</a><a href="/tournaments/crazy">Crazy Go</a><a href="/tournaments/lightning">Lightning Go!</a><a href="/tournaments/senior">Senior Tournament</a><a href="/tournaments/women">US Womens Tournament</a><a href="/tournaments/pair">Pair Go Championship</a><a href="/tournaments/die-hard">Die Hard</a><a href="/tournaments/state">US State Go Championship</a><a href="/tournaments/redmond">Redmond Cup</a><a href="/tournaments/girls">Girls Cup</a><a href="/tournaments/bucks">Go Bucks</a><a href="/tournaments/baum">Baum Prizes</a><a href="/tournaments/self-paired">Self-Paired Tournament</a></div>
                </div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column">
                  <h1><span style="font-size: 22px;">Crazy Go</span></h1>
                  <p>&nbsp;</p>
                  <p style="margin-left: 2em;">Location:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Main Ballroom</p>
                  <p style="margin-left: 2em;">Eligibility:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Everyone</p>
                  <p style="margin-left: 2em;">Director(s):<span>&nbsp</span>Terry Benson</p>
                  <p>&nbsp;</p>
                  <p>Enjoy an evening of Go turned upside down, inside out, and altered in ways that will test your skills…and your sanity!<br>
                    <br>
                    Tuesday at 7:00 p.m.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </body>
</Layout>
</html>