---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">
  <head id="page_head">
    <title id="page_title">Go Congress - US Open - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
      <div id="layout_wrapper">
        <main class="layout-container main-container">
          <!-- left content -->

          <div id="content_column" class="col center-col  watermark">
            <!-- page content -->
            <div id="page_content">

              <div id="custom_page_content">
                <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365" type="8">
                  <div class="build-column quarter ">
                    <div class="cell-item inner-column" widgettype="-1"></div>
                  </div>
                  <div class="build-column threequarter ">
                    <div class="cell-item inner-column" widgettype="2"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850366" type="8">
                  <div class="build-column quarter ">
                    <div class="cell-item inner-column" widgettype="18">
                      <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview 2024</a><a href="/tournaments/open">US Open 2024</a><a href="/tournaments/masters">US Masters 2024</a><a href="/tournaments/9x9">9x9 2024</a><a href="/tournaments/13x13">13x13 2024</a><a href="/tournaments/crazy">Crazy Go 2024</a><a href="/tournaments/lightning">Lightning Go! 2024</a><a href="/tournaments/senior">Senior Tournament 2024</a><a href="/tournaments/women">US Womens Tournament 2024</a><a href="/tournaments/pair">Pair Go Championship 2024</a><a href="/tournaments/die-hard">Die Hard 2024</a><a href="/tournaments/redmond">Redmond Cup 2024</a><a href="/tournaments/girls">Girls Cup 2024</a><a href="/tournaments/bucks">Go Bucks 2024</a><a href="/tournaments/baum">Baum Prizes 2024</a><a href="/tournaments/self-paired">Self-Paired Tournament 2024</a></div>
                    </div>
                  </div>
                  <div class="build-column threequarter ">
                    <div class="cell-item inner-column" widgettype="2">
                      <h1><span style="font-size: 22px;">US Open</span></h1>
                      <p>&nbsp;</p>
                      <p style="margin-left: 2em;">Location:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Main Ballroom</p>
                      <p style="margin-left: 2em;">Eligibility:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Everyone</p>
                      <p style="margin-left: 2em;">Director(s):<span>&nbsp;</span>Nick Prince, Cat Mai, Enrique Garcia</p>
                      <p>&nbsp;</p>
                      <p>The main event! A six-round, Swiss-McMahon style tournament held on Sunday, Monday, Tuesday, Thursday, Friday, and Saturday mornings. All rounds begin at 9:00 a.m.&nbsp; The winner of the Open section will be crowned the new US Open Champion.</p>
                      <p>&nbsp;</p>
                      <p><strong>Registration:</strong> Attendees planning to play in the US Open MUST confirm their participation upon check-in to the US Go Congress. All players who have an AGA rating are required to enter at a rank consistent with their latest AGA rating; exceptions to this rule will be allowed only with the explicit approval of the tournament directors (TDs). Players who do not have AGA ratings must enter at a rank approved by the TD. Players who wish to play in the Open section must have an AGA rating of 7.0 or higher, or the permission of the directors.</p>
                      <p>&nbsp;</p>
                      <p><strong>Byes:</strong> All changes must be made by 8 PM of registration day or they will not apply to the first round. Late registrants will miss the first round. If you wish to skip any game of the tournament, be sure to request a “bye” from the TDs before 8 PM the day before the round you will miss. If a bye is not recorded ahead of time and you miss your round, you will automatically forfeit the game.</p>
                      <p>&nbsp;</p>
                      <p><strong>Time Limits:</strong> The limit is 90 minutes per player. The overtime allotment will be 5 periods of 30 seconds each. See the section on Rules, Regulations, and Etiquette for a further explanation of overtime.</p>
                      <p>&nbsp;</p>
                      <p><strong>Handicaps:</strong> Games will be even in most sections, with a compensation to white (komi) of 7.5 points. In the lower kyu sections the TD will assign handicaps based on band differences. In handicap games, komi for white is 0.5 points.</p>
                      <p>&nbsp;</p>
                      <p><strong>Rules:</strong> AGA rules will be used. Komi for white is 7.5 points.</p>
                      <p>&nbsp;</p>
                      <p><strong>Prizes:</strong> Top players in each section according to McMahon scoring will receive prizes. The highest scoring player will be the new US Open Champion. Award sections will be divided based on the number of participants at each entering rank.</p>
                      <p><strong><br class="Apple-interchange-newline">
                        Adjournments:</strong>&nbsp;<span style="font-family: &quot;Red Hat Text&quot;;">Players <span style="text-decoration: underline;">must finish</span> their games before the lunch break.&nbsp; Sealed moves are no longer allowed during tournament play.&nbsp; (This is a change from the past.)</span><br>
                        <br>
                        <strong>Recording Devices:&nbsp;&nbsp;</strong>Electronic devices are allowed for recording games, but must be remain visible to opponents at all times.&nbsp; They must also be left at the playing table when taking bathroom breaks.&nbsp; Use of AI aids is strictly forbidden and will be considered grounds for removal from the tournament.&nbsp;&nbsp;<span style="font-family: &quot;Red Hat Text&quot;;">&nbsp;If there’s any question about a recording device, players may request the TD to inspect and approve the device.</span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
  </body>
</layout>