---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">
<head id="page_head">
    <title id="page_title">Go Congress - Tournament Overview - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
</head>
<body>
    <div id="layout_wrapper">
        <main class="layout-container main-container">
            <!-- left content -->
            <div id="content_column" class="col center-col  watermark">
                <!-- page content -->
                <div id="page_content">
                    <div id="custom_page_content">
                        <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365">
                          <div class="build-column quarter ">
                            <div class="cell-item inner-column"></div>
                          </div>
                          <div class="build-column threequarter ">
                            <div class="cell-item inner-column"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
                          </div>
                          <div class="clear"></div>
                        </div>
                        <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-6069210">
                            <div class="build-column quarter ">
                                <div class="cell-item inner-column">
                                    <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview 2024</a><a href="/tournaments/open">US Open 2024</a><a href="/tournaments/masters">US Masters 2024</a><a href="/tournaments/9x9">9x9 2024</a><a href="/tournaments/13x13">13x13 2024</a><a href="/tournaments/crazy">Crazy Go 2024</a><a href="/tournaments/lightning">Lightning Go! 2024</a><a href="/tournaments/senior">Senior Tournament 2024</a><a href="/tournaments/women">US Womens Tournament 2024</a><a href="/tournaments/pair">Pair Go Championship 2024</a><a href="/tournaments/die-hard">Die Hard 2024</a><a href="/tournaments/redmond">Redmond Cup 2024</a><a href="/tournaments/girls">Girls Cup 2024</a><a href="/tournaments/bucks">Go Bucks 2024</a><a href="/tournaments/baum">Baum Prizes 2024</a><a href="/tournaments/self-paired">Self-Paired Tournament 2024</a></div>
                                </div>
                            </div>
                            <div class="build-column threequarter ">
                                <div class="cell-item inner-column">
                                    <br>
                                    <p><img src="../../../public/Tournament-Schedule.png" style="width: 830px; height: 600px; border-width: 0px; border-style: solid;"><br>
                                        <br>
                                    </p>
                                    <hr>
                                    <p><span style="font-family: Red Hat Text;"><span style="font-size: 22px;"><strong>Rules and Guidelines</strong></span><br>
                                    <br>
                                    <span style="font-size: 18px;"><strong>Summary of AGA Rules</strong></span><br>
                                    There are a few details of the AGA Rules of Go that even experienced players may not know about, especially those players coming from other countries. Below, we explain a few key points of AGA rules that may differ from Japanese or Chinese rules.&nbsp;<br>
                                    <br>
                                    1. AGA rules use territory counting (similar to Japanese rules) by default. If both players agree, they may use area counting (similar to Chinese rules) instead.&nbsp;<br>
                                    <br>
                                    2. When a player passes, he or she must give the opponent a stone to add to the prisoners. This makes sure that—under AGA rules—the result is always the same regardless of which counting method is used. This also means that any unclear situation on the board can be resolved by the players without the help of a referee. Players should fill all the dame during the game and only pass at the very end.&nbsp;<br>
                                    <br>
                                    3. White MUST pass the last stone. If the game ends with black’s pass, then white must make an additional pass. If there is a dispute, the game re-starts with a black play or pass.&nbsp;<br>
                                    <br>
                                    4. If a player makes an illegal move—for example, taking a ko out of turn—the move must be taken back and treated as a pass (be sure to pass the stone as a prisoner).&nbsp;<br>
                                    <br>
                                    5. It is illegal to repeat the same board position with the same player’s turn—just like a simple ko. If a board position has occurred before, but on the other player’s turn, it is still legal. Passing is always legal.&nbsp;<br>
                                    <br>
                                    6. In even games, komi is 7.5 points. In handicap games, komi is 0.5 points. If the players agree to count by area in a handicap game, white receives an additional point of komi for every black stone after the first (e.g., in a 9-stone handicap game, white receives 8.5-point komi). This ensures that the handicap result is the same with area and territory counting.&nbsp;<br>
                                    <br>
                                    <span style="font-family: Red Hat Text;">For more information, you may refer to the <a href="https://usgo.org/docs.ashx?id=1202043" target="_blank">AGA Rules of Go</a>.</span><br>
                                    <br>
                                    <span style="font-size: 18px;"><strong>Conduct Guidelines</strong></span><br>
                                    <span style="white-space: pre;">	</span>• Tournaments should be enjoyable for all.<br>
                                    <span style="white-space: pre;">	</span>• Please always show respect for your opponent and other players.<br>
                                    <span style="white-space: pre;">	</span>• Games should be won by superior talent and technique.<br>
                                    <span style="white-space: pre;">	</span>• Refrain from distracting behavior and noisemaking near tournament play.<br>
                                    <span style="white-space: pre;">	</span>• Please analyze games away from tournament play.<br>
                                    <span style="white-space: pre;">	</span>• Please show courtesy by arriving promptly for all events.<br>
                                    <span style="white-space: pre;">	</span>• Report all results immediately after the conclusion of your games.<br>
                                    <span style="white-space: pre;">	</span>• Be courteous in defeat and generous in victory. <br>
                                    <span style="white-space: pre;">	</span>&nbsp; Remember that you will have ample opportunity to experience both during the week.<br>
                                    <span style="white-space: pre;">	</span>• Resign when you have clearly lost.<br>
                                    <br>
                                    <span style="font-family: Red Hat Text;">For more information on tournament guidelines, you may refer to the <a href="https://usgo.org/docs.ashx?id=1166826" target="_blank">Tournament Regulations</a>.<br>
                                    </span><br>
                                    Please make every effort to aid those who are not native English speakers and who may have trouble understanding the Congress regulations and schedule.<br>
                                    </span>
                                    </p>
                                    <div><br></div>
                                </div>
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <div id="ctl00_ctl00_content"></div>
                </div>
            </div>
        </main>
    </div>
</body>
</Layout>