---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">
  <head id="page_head">
    <title id="page_title">Go Congress - Pair Go Championship - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
      <div id="layout_wrapper">
        <main class="layout-container main-container">
          <!-- left content -->

          <div id="content_column" class="col center-col  watermark">
            <!-- page content -->
            <div id="page_content">

              <div id="custom_page_content">
                <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365">
                  <div class="build-column quarter ">
                    <div class="cell-item inner-column"></div>
                  </div>
                  <div class="build-column threequarter ">
                    <div class="cell-item inner-column"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
                  </div>
                  <div class="clear"></div>
                </div>
                <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850366">
                  <div class="build-column quarter ">
                    <div class="cell-item inner-column">
                      <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview</a><a href="/tournaments/open">US Open</a><a href="/tournaments/masters">US Masters</a><a href="/tournaments/9x9">9x9</a><a href="/tournaments/13x13">13x13</a><a href="/tournaments/crazy">Crazy Go</a><a href="/tournaments/lightning">Lightning Go!</a><a href="/tournaments/senior">Senior Tournament</a><a href="/tournaments/women">US Womens Tournament</a><a href="/tournaments/pair">Pair Go Championship</a><a href="/tournaments/die-hard">Die Hard</a><a href="/tournaments/state">State Championship Bowl</a><a href="/tournaments/redmond">Redmond Cup</a><a href="/tournaments/girls">Girls Cup</a><a href="/tournaments/bucks">Go Bucks</a><a href="/tournaments/baum">Baum Prizes</a><a href="/tournaments/self-paired">Self-Paired Tournament</a></div>
                    </div>
                  </div>
                  <div class="build-column threequarter ">
                    <div class="cell-item inner-column">
                      <h1><span style="font-size: 22px;">North American Pair Go Championship</span></h1>
                      <p><a title="Bold (CTRL+B)" class="reTool reTool_selected" href="https://aga1.clubexpress.com/popup.aspx?page_id=626&amp;club_id=454497&amp;type=2&amp;row_id=5623568&amp;page=563502&amp;cell_id=2#" unselectable="on"><span class="Bold" unselectable="on"></span></a><span style="font-size: 12px;"><br></span></p>
                      <p style="margin-left: 2em;">Location:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Main Ballroom</p>
                      <p style="margin-left: 2em;">Eligibility:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Everyone</p>
                      <p style="margin-left: 2em;">Director(s):<span>&nbsp</span>Steve Zhang, Andrew Zhang</p>
                      <p>&nbsp;<br></p>
                      <p>Two-round team tournament with teams made up of one male and one female player<sup>*</sup>. The players may not consult with each other during the game. Formal or semi-formal dress is encouraged.<br>
                      </p>
                      <p><strong><br>
                      </strong>* Any and all mixed-gender teams are allowed in the Main Event. &nbsp;Same-gender teams are also allowed, but at least one player must be kyu level.<br>
                        <strong><br>
                        </strong>
                      </p>
                      <h1 style="background-color: rgb(255, 255, 255); font-family: &quot;Red Hat Text&quot;, sans-serif;"><span style="font-size: 20px;">Main Event</span></h1>
                      <p><strong><br>
                        Time/Location:</strong>&nbsp; 1st round Thursday (6/18) at 7 p.m., 2nd round Thursday (6/18) at 8:30pm.</p>
                      <p><br>
                        <strong>Registration:</strong>&nbsp;Sign up before Wednesday at 10 p.m. for the main event. All teams must include the name of the male and female players by the time registration closes.&nbsp; Sign-up sheets will also be available prior to the tournament.&nbsp; Professional players are allowed to join the main event, but cannot be selected for the IAPGC Qualifier.<br>
                        <br>
                        <span style="white-space: pre;">		<a href="https://docs.google.com/forms/d/e/1FAIpQLSf5uIwR5bZUPtyUsHqfI5IZI0jaeOrLvy0meBT-xj8iD-i3jw/viewform?usp=share_link" target="_blank" class="ce-button">Pair Go Sign-Up Form</a></span>
                      </p>
                      <p><br>
                        <strong>Winners:</strong><span>&nbsp; Table winners will receive recognition and Go Bucks.<br><br></span>
                      </p>
                      <hr>
                      <p><span style="font-size: 20px; font-weight: 900;">IAPGC Qualifier</span><br>
                        <span></span>
                      </p>
                      <p style="margin-left: 40px;">
                        <img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/symbol-WorldPairGoAssociation_4c__533986180.png" alt="" width="200" height="200"><span class="Apple-tab-span" style="white-space: pre;">			</span><br>
                      </p>
                      <p>The top four ranked pairs will compete to represent the US at the 34th International Amateur Pair Go Championship (IAPGC) in Tokyo.<br>
                        <br>
                      </p>
                      <p><strong>Time/Location:</strong>&nbsp; 1st round Tuesday (6/16) at 7 p.m., 2nd round Tuesday (6/16) at 8:30 p.m.</p>
                      <p><br>
                        <strong>Registration:</strong>&nbsp; Sign up before Monday (6/15) at 10 p.m. All teams must include the name of the male and female players by the time registration closes.&nbsp; All players must have U.S. citizenship.&nbsp; You will be notified by email of your participation before Monday evening.&nbsp;<br>
                        <br>
                        <span style="white-space: pre;">		<a href="https://docs.google.com/forms/d/e/1FAIpQLSf5uIwR5bZUPtyUsHqfI5IZI0jaeOrLvy0meBT-xj8iD-i3jw/viewform?usp=share_link" target="_blank" class="ce-button">Pair Go Sign-Up Form</a></span>
                      </p>
                      <p><br>
                        <strong>Winners:</strong><span>&nbsp; The winning pair will receive an invitation to play in the IAPGC finals in Tokyo later this year. &nbsp;Details to be announced.&nbsp; The AGA will cover 50% of the winning pair's travel expenses to Tokyo.&nbsp; Unfortunately, due to the recent pandemic’s effect on sponsorship levels, the WPGA will not be able to cover the other 50% (as done in the past).<br><br>
                        The top four ranked pairs will also receive special prizes from the IAPGC.<br></span><br>
                      </p>
                      <hr>
                      <h1 style="background-color: rgb(255, 255, 255); font-family: &quot;Red Hat Text&quot;, sans-serif;"><span style="font-size: 20px;">Rules</span></h1>
                      <p style=""><strong><br>
                        Basic Rules:&nbsp;&nbsp;</strong>Japanese Rules are in effect.<br>
                        <br>
                        <strong>Pair Go Rules: &nbsp;</strong>In addition to the basic rules, special rules by the WPGA governing four-person play are in effect.<br>
                        <br>
                        <span class="Apple-tab-span" style="white-space: pre;">		<img src="//s3.amazonaws.com/ClubExpressClubFiles/454497/graphics/promoLogotype-WorldPairGoAssociation_4c__1025988121.png" width="160" alt="WPGA logo - Pair Go"></span>
                        <span class="Apple-tab-span" style="white-space: pre;">		</span>&nbsp; <br>
                        <span class="Apple-tab-span" style="white-space: pre;">		</span>&nbsp;&nbsp;&nbsp;<a href="http://www.worldpairgo.org/rules/index.htm" target="_blank"><span style="font-size: 20px;">Official Pair Go Rules</span></a><br>
                        <br>
                      </p>
                      <p><strong>Format:</strong>&nbsp;Four pairs of players are assigned to each table.&nbsp; The winners of round 1 will be paired in round 2 to determine the table winners.&nbsp;&nbsp;The losers of round 1 will be paired in round 2 to determine the 3rd and 4th place winners.</p>
                      <p>&nbsp;</p>
                      <p><strong>Handicaps:</strong>&nbsp;Even games for the top four ranked pairs, handicapped games for everyone else.&nbsp; Handicaps are determined by averaging the player ranks on each team.</p>
                      <p><br>
                        <strong>Rating Criteria:</strong>&nbsp;Games are <span style="text-decoration: underline;">not</span> rated.
                      </p>
                      <p>&nbsp;</p>
                      <p><strong>Time Limit:</strong>&nbsp;45 minutes per team absolute.&nbsp; (No byo-yomi periods, so use your time wisely!)</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </main>
      </div>
  </body>
