<!DOCTYPE html>
---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">
  <head id="page_head">
    <title id="page_title">Go Congress - Self-Paired Tournament - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
  <div id="layout_wrapper">
    <main class="layout-container main-container">
      <!-- left content -->

      <div id="content_column" class="col center-col  watermark">
        <!-- page content -->
        <div id="page_content">

          <div id="custom_page_content">
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365">
              <div class="build-column quarter ">
                <div class="cell-item inner-column"></div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850366">
              <div class="build-column quarter ">
                <div class="cell-item inner-column">
                  <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview 2024</a><a href="/tournaments/open">US Open 2024</a><a href="/tournaments/masters">US Masters 2024</a><a href="/tournaments/9x9">9x9 2024</a><a href="/tournaments/13x13">13x13 2024</a><a href="/tournaments/crazy">Crazy Go 2024</a><a href="/tournaments/lightning">Lightning Go! 2024</a><a href="/tournaments/senior">Senior Tournament 2024</a><a href="/tournaments/women">US Womens Tournament 2024</a><a href="/tournaments/pair">Pair Go Championship 2024</a><a href="/tournaments/die-hard">Die Hard 2024</a><a href="/tournaments/redmond">Redmond Cup 2024</a><a href="/tournaments/girls">Girls Cup 2024</a><a href="/tournaments/bucks">Go Bucks 2024</a><a href="/tournaments/baum">Baum Prizes 2024</a><a href="/tournaments/self-paired">Self-Paired Tournament 2024</a></div>
                </div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column">
                  <h1><span style="font-size: 22px;">Self-Paired Tournament</span></h1>
                  <p>&nbsp;</p>
                  <p style="margin-left: 2em;">Location:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Main Ballroom</p>
                  <p style="margin-left: 2em;">Eligibility:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Everyone</p>
                  <p style="margin-left: 2em;">Director(s):<span>&nbsp</span>Rich Newman</p>
                  <p>&nbsp;</p>
                  <p>Tournament begins after registration on Saturday at 5 pm and ends on Friday at midnight.&nbsp; Arrange your own rated handicap games and report the results. A number of prizes are awarded, including for the kyu player who wins the most games against dan players, and the dan player who wins the most games against kyu players.&nbsp;&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>Time Limit:</strong> A minimum time limit of 30 minutes per player; 3 periods of 30 seconds byo-yomi, is required for games to be rated and count towards prizes.&nbsp; We suggest that 45 minutes basic time is most in keeping with the spirit of this tournament. Any significant deviations must be approved by the TD.</p>
                  <p>&nbsp;</p>
                  <p><strong>Pairing:</strong> You may play any other registered player. The AGA will rate a maximum of three games between any one pair of players. Otherwise, play as many games as you like, any time during the week. Be sure to agree to the conditions of play before you start.&nbsp;</p>
                  <p>&nbsp;</p>
                  <p><strong>Results:</strong> Game reporting slips will be readily available on site. The winner should be circled, and the loser should sign the slip; put completed slips in the box in the reporting area.</p>
                  <p>&nbsp;</p>
                  <p><strong>Rules:</strong> AGA rules should be used. Komi for white is 7.5 points.</p>
                  <p>&nbsp;</p>
                  <p><strong>Disputes:</strong> Try to avoid them as much as possible! Remember that tournament rules apply and take them seriously. The rules themselves allow for resolution of most disputes by continuing play. If a serious disagreement arises that the players cannot resolve themselves, they may consult the director or some other agreed authority (for example Kyu players may abide by the opinion of a strong Dan level player), but this should be a last resort.</p>
                  <p>&nbsp;</p>
                  <p><strong>Handicaps:</strong> Handicaps are computed by subtracting the difference in ranks.&nbsp; If the ranks cross the dan/kyu border, add the two ranks together and subtract one.&nbsp; E.g. if a 2 dan plays a 3 kyu, the handicap is 2 + 3 - 1 = 4 stones.<br>
                    <br>
                  </p>
                  <hr>
                  <p><br>
                    <span style="font-size: 20px;"><strong>Prizes</strong><br></span>
                  </p>
                  <p style="margin-left: 2em;"><strong>Champion:</strong> the player who records the greatest excess of wins over losses.</p>
                  <p style="margin-left: 2em;"><strong>Hurricane:</strong> The player who records the greatest number of wins.</p>
                  <p style="margin-left: 2em;"><strong>Giant Killer:</strong> The Kyu player who wins the most games against Dan players (also known as the “Dan Killer” award).</p>
                  <p style="margin-left: 2em;"><strong>Keith Arnold:</strong> The Dan player who wins the most games against Kyu players (also known as the “Kyu Killer” award).</p>
                  <p style="margin-left: 2em;"><strong>Straight Shooter:</strong> The player who scores the most victories against players of consecutive ranks (based on ranks stated on name tags). For example, victories against a 2 Dan, a shodan, a 1 Kyu, a 2 Kyu, and a 3 Kyu would total a straight shooter score of 4.</p>
                  <p style="margin-left: 2em;"><strong>Dedicated:</strong> The player who plays the most games.</p>
                  <p style="margin-left: 2em;"><strong>Sensei:</strong> The player who plays the most games against weaker players (also known as the “Teacher” award).</p>
                  <p style="margin-left: 2em;"><strong>Philanthropist: </strong>The player with the most losses.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </body>
</Layout>