<!DOCTYPE html>
---
title: 'Tournaments'
import Layout from "../../layouts/Layout.astro"
---

<Layout title="Go Congress - Tournaments - American Go Association">

  <head id="page_head">
    <title id="page_title">Go Congress - US State Go Championship - American Go Association</title>
    <link rel="stylesheet" type="text/css" href="/css/common_ui.css?v=20240408">
    <link rel="stylesheet" type="text/css" href="/css/widget.css?v=20221117">
    <link rel="stylesheet" type="text/css" href="/css/design.css?v=1.1">
    <link rel="stylesheet" type="text/css" href="/css/color.css?v=120523">
    <link rel="stylesheet" type="text/css" href="/css/club.css?v=46">
    <link href="https://fonts.googleapis.com/css2?family=Red+Hat+Text:wght@400;700&display=swap" rel="stylesheet">
    <meta id="keywords_meta_tag" name="keywords" content="weiqi baduk go game aga naol">
    <meta name="referrer" content="always">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
  </head>

  <body>
  <div id="layout_wrapper">
    <main class="layout-container main-container">
      <!-- left content -->

      <div id="content_column" class="col center-col  watermark">
        <!-- page content -->
        <div id="page_content">

          <div id="custom_page_content">
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850365">
              <div class="build-column quarter ">
                <div class="cell-item inner-column"></div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column"><span style="font-size: 28px;"><strong>Tournaments</strong></span><span style="font-size: 26px;"></span></div>
              </div>
              <div class="clear"></div>
            </div>
            <div class="build-row twentyfive-seventyfive " id="twentyfive_seventyfive-5850366">
              <div class="build-column quarter ">
                <div class="cell-item inner-column">
                  <div id="c|57453" class="ce-widget submenu-widget bg-agablue" contenteditable="false" data-id="57453" data-width="auto" style="WIDTH:auto; "><a href="/tournaments/overview">Tournament Overview</a><a href="/tournaments/open">US Open</a><a href="/tournaments/masters">US Masters</a><a href="/tournaments/9x9">9x9</a><a href="/tournaments/13x13">13x13</a><a href="/tournaments/crazy">Crazy Go</a><a href="/tournaments/lightning">Lightning Go!</a><a href="/tournaments/senior">Senior Tournament</a><a href="/tournaments/women">US Womens Tournament</a><a href="/tournaments/pair">Pair Go Championship</a><a href="/tournaments/die-hard">Die Hard</a><a href="/tournaments/state">US State Go Championship</a><a href="/tournaments/redmond">Redmond Cup</a><a href="/tournaments/girls">Girls Cup</a><a href="/tournaments/bucks">Go Bucks</a><a href="/tournaments/baum">Baum Prizes</a><a href="/tournaments/self-paired">Self-Paired Tournament</a>n</div>
                </div>
              </div>
              <div class="build-column threequarter ">
                <div class="cell-item inner-column">
                  <h1><span style="font-size: 22px;">US State Go Championship</span></h1>
                  <p>&nbsp;</p>
                  <p style="margin-left: 2em;">Location:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Strong Players</p>
                  <p style="margin-left: 2em;">Eligibility:<span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>Open to 2023 State Champions and other major tournament winners (see additional details below)</p>
                  <p style="margin-left: 2em;">Director(s):<span>&nbsp;Steve Zhang</span></p>
                  <p>&nbsp;</p>
                  <p>This a competition between all the state champions for the previous year to settle who is the <strong>US State Champ</strong>! </p>
                  <p>&nbsp;</p>
                  <p><strong>Format:</strong> “Knockout” tournament consisting of several rounds in the afternoons (e.g. Mon, Tue, Thurs, Fri).  The number of rounds depends on the number of entrants. </p>
                  <p>&nbsp;</p>
                  <p><strong>Time Limits:</strong> The limit is 60 minutes per player. The overtime byo-yomi allotment will be 5 periods of 30 seconds each.</p>
                  <p>&nbsp;</p>
                  <p><strong>Rules:</strong> AGA rules will be used. Komi for white is 7.5 points.</p>
                  <p>&nbsp;</p>
                  <p><strong>Handicaps: </strong>All games are to be played even.</p>
                  <p>&nbsp;</p>
                  <p><strong>Prizes:</strong> The final winner will be crowned US State Go Champion and will receive both a trophy cup and prize of $1,000.  The second-place winner will receive $500.</p>
                  <p>&nbsp;</p>
                  <p><strong>Eligibility:</strong> To play, you must be a resident of the state where the tournament occurred, and when it was held. If there wasn't a champion from your state in 2023, the 2022 champion can participate. <br><br>
                  Since this is a new tournament just getting started, we’re also allowing a winner of a major tournament in a state which didn’t have an official Championship.  If the winner of a major tournament was not a resident of the state, we will also accept the next highest placing resident of the state. </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  </body>
</Layout>